@charset "UTF-8";

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}

html{
	background-color: black;
	color: white;
	font-family: Verdana;
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	min-height: 100%;
}

main{
	width: auto;
	height: 100%;
}

#googleMap{
	padding: 0;
	margin: 0;
	width: 80%;
	height: 85%;
}

#skandale{
	width: 200px;
}

#jahresdaten{
	width: 200px;
}

#Selector{
	padding-left: 220px;
	width: 80%;
}

fieldset{
	border: none;
	padding: 0px;
	margin: 0px;
}

button{
	float: right;
}

aside{
	float: left;
	display: block;
	margin-right: 20px;
	width: 200px;
	height: 100%;
	min-height: 100%;
}

table{
	width: 100%;
	color: black;
	display: block;
}

thead a{
	color: white;
	text-decoration: none;
}

th {
    height: 20px;
    text-align: left;
}

td {
    padding: 5px;
}

table tr:nth-child(odd) td{
	background-color: grey;
}

table tr:nth-child(even) td{
	background-color: lightgrey;
}

thead th{
	padding: 5px;
	padding-bottom: 15px;
}

thead tr{
	width: 100%;
}

thead{
	display: inline-table;
	width: 100%;
}

tbody{
	display: inline-table;
	width: 100%;
}

ul.pagination li.active a {
  background: none repeat scroll 0% 0% #DCE47E;
  font-weight: bold;
  cursor: default;
}

.paginator{
	width: 100%;
}

.paginator ul.pagination li {
  float: none;
  display: inline-block;
}

.pagination{
	padding-top: 15px;
}

.pagination li{
	padding-right: 5px;
	padding-left: 5px;
}

.paginator p {
	text-align: right;
}

.table{
	width: 80%;
	padding-left: 220px;
	text-align: center;
	cellpadding: 0px; 
	cellspacing: 0px;
}

